<article class="case-card">
    <div class="case-card__header">
        <picture>
           <source srcset="img/services/@ava.avif" type="image/avif">
           <source srcset="img/services/@ava.webp" type="image/webp">
           <img class="case-card__ava" src="img/services/@ava.png" alt="@ava-alt" width="110" height="110" loading="lazy">
        </picture>
        <div class="case-card__top">
            <h3 class="case-card__title">@title</h3>
            <p class="case-card__subtitle">@subtitle</p>
            <a class="case-card__link" href="#">@link</a>
        </div>
    </div>
    <ul class="case-card__items">
        <li class="case-card__item">
            <span class="case-card__question">Ниша:</span>
            <span class="case-card__answer">@niche</span>
        </li>
        <li class="case-card__item">
            <span class="case-card__question">Инструменты:</span>
            <span class="case-card__answer">@tools</span>
        </li>
        <li class="case-card__item">
            <span class="case-card__question">Контакты:</span>
            <span class="case-card__answer">@contacts</span>
        </li>
        <li class="case-card__item">
            <span class="case-card__question">Опубликовано:</span>
            <span class="case-card__answer">@published</span>
        </li>
    </ul>
    <div class="case-card__text">@text</div>
</article>