<footer class="footer">
    <div class="container">
        <div class="footer__wrapper">
            <div class="footer__content">
                <div class="footer__inner">
                    <a class="footer__logo logo" href="#">
                        <img class="logo__img" src="img/logo-black.svg" alt="логотип" width="180" height="55" loading="lazy">
                    </a>
                    <a class="footer__contact" href="tel:+74993229710">
                        <img src="/bitrix/templates/envybox/images/icon-phone.svg" alt="" class="phone-icon" aria-hidden>
                        8 499 322-97-10
                    </a>
                    <a class="footer__contact" href="mailto:support@envybox.io">
                        <img src="/bitrix/templates/envybox/images/icon-phone.svg" alt="" class="email-icon" aria-hidden>
                        support@envybox.io
                    </a>
                    <p class="footer__text">
                        <span class="footer__info">ОГРН: 1175835011934</span>
                        <span class="footer__info">ООО "Энвибокс"</span>
                        <span class="footer__info">440000, г. Пенза, ул. Кураева, стр. 26А</span>
                    </p>
                    <a class="footer__offer" href="#">Договор оферты</a>
                    <p class="footer__text">
                        Гарантируем конфиденциальность ваших персональных данных
                    </p>
                </div>
                <ul class="social">
                    <li class="social__item">
                        <a class="social__link" href="#" style="background-image: url('img/product/1.png')" target="_blank">
                            <span class="sr-only">Вк</span>
                        </a>
                    </li>
                    <li class="social__item">
                        <a class="social__link" href="#" style="background-image: url('img/product/1.png')" target="_blank">
                            <span class="sr-only">Фейсбук</span>
                        </a>
                    </li>
                    <li class="social__item">
                        <a class="social__link" href="#" style="background-image: url('img/product/1.png')" target="_blank">
                            <span class="sr-only">Инстаграм</span>
                        </a>
                    </li>
                    <li class="social__item">
                        <a class="social__link" href="#" style="background-image: url('img/product/1.png')" target="_blank">
                            <span class="sr-only">Ютуб</span>
                        </a>
                    </li>
                </ul>
            </div>

            <ul class="footer__box">
                <li class="footer__list">
                    <span class="footer__subtitle">Продукты</span>
                    <ul class="footer__items">
                        <li class="footer__item">
                            <a class="footer__link" href="#">
                                Обрытный звонок
                            </a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#">
                                Онлайн-чат
                            </a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#">
                                Генератор клиентов
                            </a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#">
                                Захватчик клиентов
                            </a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#">
                                Стадный инстинкт
                            </a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#">
                                CRM-система
                            </a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#">
                                Купить в кредит
                            </a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#">
                                Мультикнопка
                            </a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#">
                                Квизы
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="footer__list">
                    <span class="footer__subtitle">Компания</span>
                    <ul class="footer__items">
                        <li class="footer__item">
                            <a class="footer__link" href="#">
                                Обрытный звонок
                            </a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#">
                                Онлайн-чат
                            </a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#">
                                Генератор клиентов
                            </a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#">
                                Захватчик клиентов
                            </a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#">
                                Стадный инстинкт
                            </a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#">
                                CRM-система
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="footer__list">
                    <span class="footer__subtitle">Сотрудничество</span>
                    <ul class="footer__items">
                        <li class="footer__item">
                            <a class="footer__link" href="#">
                                Обрытный звонок
                            </a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#">
                                Онлайн-чат
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</footer>