<header class="header">
    <div class="container">
        <nav class="header-top">
            <a class="header-top__logo logo" href="#">
                <img class="logo__img" src="img/logo.svg" alt="логотип" width="180" height="55" loading="lazy">
            </a>
            <div class="header-top__menu">
                <ul class="header-top__items">
                    <li class="header-top__item header-top__item--dop">
                        <a href="#">Продукты</a>
                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                        <ul class="header-top__submenu">
                            <li class="header-top__dop">
                                <a href="#">Обратный звонок</a>
                            </li>
                            <li class="header-top__dop">
                                <a href="#">Онлайн-чат</a>
                            </li>
                            <li class="header-top__dop">
                                <a href="#">Генератор клиентов</a>
                            </li>
                            <li class="header-top__dop">
                                <a href="#">CRM от Envybox</a>
                            </li>
                            <li class="header-top__dop">
                                <a href="#">Стадный инстинкт</a>
                            </li>
                            <li class="header-top__dop">
                                <a href="#">Захватчик клиентов</a>
                            </li>
                            <li class="header-top__dop">
                                <a href="#">Мультикнопка</a>
                            </li>
                            <li class="header-top__dop">
                                <a href="#">Квизы</a>
                            </li>
                            <li class="header-top__dop">
                                <a href="#">Персонализатор форм</a>
                            </li>
                        </ul>
                    </li>
                    <li class="header-top__item">
                        <a href="#">Тарифы</a>
                    </li>
                    <li class="header-top__item">
                        <a href="#">Отзывы</a>
                    </li>
                    <li class="header-top__item">
                        <a href="#">Вакансии</a>
                    </li>
                </ul>
                <div class="header-top__contacts">
                    <a class="header-top__phone" href="tel:84993229710">8 499 322-97-10</a>
                    <a class="header-top__email" href="mailto:support@envybox.io">
                        <span class="sr-only">Электронная почта</span>
                        <img class="email-icon" src="/bitrix/templates/envybox/images/icon-mail.svg" alt="" aria-hidden>
                    </a>
                    <a class="header-top__account button" href="#">
                        Войти
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </nav>

        <div class="header__row">
            <div class="header__content">
                <p class="header__title">
                    Квиз помогает
                    <span class="header__accent">
                        очень просто получить контакты клиента
                    </span>
                    и ﻿узнать его мнение!
                </p>
                <p class="header__text">
                    Наш обновленный продукт гарантирует
                    самый мощный рост заявок с вашего сайта.
                </p>
                <ul class="header__tags">
                    <li class="header__tag">
                        <a class="header__anchor" href="#" data-goto="#what">Что умеет Квиз?</a>
                    </li>
                    <li class="header__tag">
                        <a class="header__anchor" href="#" data-goto="#how">Как это работает?
                        </a>
                    </li>
                    <li class="header__tag">
                        <a class="header__anchor" href="#" data-goto="#advantages">Наши преимущества</a>
                    </li>
                    <li class="header__tag">
                        <a class="header__anchor" href="#" data-goto="#tariff">Стоимость</a>
                    </li>
                </ul>
                <ul class="header__tags header__tags--mobile">
                    <li class="header__tag">
                        <a class="header__anchor" href="#" data-goto="#what">Что дает видеовиджет?</a>
                    </li>
                    <li class="header__tag">
                        <a class="header__anchor" href="#" data-goto="#tariff">Стоимость
                        </a>
                    </li>
                    <li class="header__tag">
                        <a class="header__anchor" href="#" data-goto="#email">E-mail</a>
                    </li>
                    <li class="header__tag">
                        <a class="header__anchor" href="#" data-goto="#how">Как это работает?</a>
                    </li>
                    <li class="header__tag">
                        <a class="header__anchor" href="#" data-goto="#advantages">Преимущества</a>
                    </li>
                    <li class="header__tag">
                        <a class="header__anchor" href="#" data-goto="#connect">Подключить за 0 руб</a>
                    </li>
                </ul>
                <form class="form-email" action="#">
                    <div class="form-email__box">
                        <label class="sr-only" for="email">Введите электронную почту</label>
                        <input class="form-email__field" name="email" type="email" placeholder="Электронная почта" id="form-email" required>
                    </div>
                    <button class="form-email__button button" type="submit">Попробуйте бесплатно</button>
                </form>
            </div>
            <div class="header__images" aria-hidden="true">
                <div class="header__swiper swiper">
                    <ul class="header__items swiper-wrapper">
                        <li class="header__item swiper-slide">
                            <div class="header__bg" style="background-image: url('img/header/bg-1.png');"> </div>
                        </li>
                        <li class="header__item swiper-slide">
                            <div class="header__bg" style="background-image: url('img/header/bg-1.png');"> </div>
                        </li>
                        <li class="header__item swiper-slide">
                            <div class="header__bg" style="background-image: url('img/header/bg-1.png');"> </div>
                        </li>
                        <li class="header__item swiper-slide">
                            <div class="header__bg" style="background-image: url('img/header/bg-1.png');"> </div>
                        </li>
                    </ul>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="header__decor" aria-hidden="true"></div>
</header>