<section class="promo">
    <div class="container">
        <h2 class="promo__title title">
            @title
        </h2>
        <div class="@class">@text</div>
        <form class="form-email" action="#">
            <div class="form-email__box">
                <label class="sr-only" for="email">Введите электронную почту</label>
                <input class="form-email__field" name="email" type="email" placeholder="Электронная почта" id="form-email" required>
            </div>
            <button class="form-email__button button" type="submit">Попробовать</button>
        </form>
    </div>
</section>