.header-top {
	position: relative;
	z-index: 3;
	font-size: 14px;
	@include flex-center-sb;
	@include adaptiv-value('margin-bottom', 65, 20, 1);

	&__logo {
		margin-right: 10px;
	}

	&__menu {
		@include mq(lg) {
			display: none;
		}
	}

	&__items {
		display: flex;
		margin-bottom: 15px;
	}

	&__item {
		color: $violet-400;

		&--dop {
			position: relative;
			padding-right: 20px;

			&::after {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 30px;
				transform: translateY(100%);
				content: '';
			}

			&:hover {
				.header-top__submenu {
					display: block;
				}
			}
		}

		&:not(:last-child) {
			margin-right: 20px;
		}
	}

	&__submenu {
		position: absolute;
		top: 30px;
		left: 0;
		display: none;
		width: 184px;
		padding: 24px;
		background-color: $white;
		border-radius: 6px;
		box-shadow: 0 3px 6px 0 rgb($black, 20%);
		transform: translateX(-30%);
	}

	&__dop {
		color: $dark-800;

		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}

	&__contacts {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

	&__phone,
	&__email {
		display: inline-block;
		margin-right: 25px;
	}

	&__phone {
		color: $dark-800;
		font-weight: $fw-500;
		font-size: 18px;
	}

	&__email {
		width: 20px;
		height: 20px;

		.email-icon {
			margin-right: 0;
		}
	}

	&__account {
		padding: 12px 24px;
		color: $white;
		font-weight: 500;
		font-size: 16px;
		background-color: $violet-400;
		border-radius: 6px;
		box-shadow: 0 2px 1px 0 rgb(255 229 59 / 36%);
	}
}
