.how {
	line-height: 1;

	&__inner {
		width: 100%;
		max-width: 1050px;
		margin: 0 auto;

		@include mq(lg) {
			max-width: 100%;
		}
	}

	&__title {
		@include mq(md) {
			margin-bottom: 0;
		}
	}

	&__wrapper {
		@include flex-center-sb;
		width: 100%;
		max-width: 920px;
		margin-left: auto;

		@include mq(lg) {
			max-width: 100%;
		}

		@include mq(md) {
			flex-direction: column-reverse;
			align-items: flex-start;
		}
	}

	&__items {
		width: 100%;
		max-width: 425px;
		margin-right: 20px;

		@include mq(md) {
			max-width: 100%;
			margin-right: 0;
		}
	}

	&__item {
		display: flex;
		align-items: center;
		line-height: 1;
		@include adaptiv-value('font-size', 18, 16, 1);

		&:not(:last-child) {
			@include adaptiv-value('margin-bottom', 50, 35, 1);
		}
	}

	&__icon {
		width: 100%;
		max-width: 65px;
		height: 65px;
		margin-right: 16px;
		background-color: $violet-300;
		border-radius: 20px;
		transform: rotate(45deg);
		@include flex-all-center;

		span {
			width: 30px;
			height: 30px;
			transform: rotate(-45deg);
			@include bg-conatin;
		}
	}

	&__box {
		position: relative;
		width: 100%;
		max-width: 425px;
		padding: 72px 0 100px 56px;

		@include mq(md) {
			margin: -40px 0 30px;
			padding: 90px 0 50px 20px;
		}

        @include mq(sm) {
            padding-left: 0;
        }

		&::before {
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			width: 100%;
			height: 100%;
			background-color: $violet-300;
			border-radius: 35%;
			transform: rotate(45deg);
			content: '';

			@include mq(md) {
				left: -40px;
				transform: rotate(16deg);
			}
		}
	}

	&__decor {
		@include mq(md) {
			max-width: 250px;
		}
	}

	&__number {
		@include adaptiv-value('font-size', 68, 45, 1);
		@include adaptiv-value('margin-bottom', 35, 10, 1);
		display: block;
		color: $violet-400;
		font-weight: $fw-600;
	}

	&__nonaccent {
		@include adaptiv-value('font-size', 67, 50, 1);
		color: $grey-300;
	}

	&__accent {
		font-weight: $fw-500;
	}

	&__subtitle {
		@include adaptiv-value('font-size', 20, 14, 1);
		@include adaptiv-value('margin-bottom', 25, 10, 1);
	}

	&__subtext {
		@include adaptiv-value('font-size', 16, 12, 1);
	}
}
