.integration {
	&__items {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(231px, 1fr));
		gap: 12px;

		@include mq(md) {
			grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
			gap: 6px;
		}
	}
}
