.products {
    padding-bottom: 150px;

	@include mq(lg) {
		display: none;
	}

	&__wrapper {
		max-width: 980px;
		margin: 0 auto;
	}

	&__items {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		gap: 16px;
	}
}
