body {
	color: $dark-800;
	font-weight: $fw-400;
	font-size: 18px;
	font-family: $grotesque, Arial, sans-serif;
	line-height: 1.2;
	background-color: $white;
}

.container {
	width: 100%;
	max-width: 1230px;
	margin: 0 auto;
	padding: 0 15px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow: hidden;
}

.main {
	flex: 1 1 auto;
}

.lock {
	overflow: hidden;
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: 1px;
	padding: 0;
	overflow: hidden;
	white-space: nowrap;
	border: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(100%);
}

.disable-scroll {
	position: relative;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.logo {
	left: -40px;
	display: inline-block;
	width: 100%;
	max-width: 180px;
	height: 55px;

	&__img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}

.swiper-slide {
	box-sizing: border-box;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	background-color: rgba($black, 0.5);
	opacity: 0;

	&--active {
		z-index: 4;
		opacity: 1;
	}
}

.section {
	@include adaptiv-value('padding-top', 100, 50, 1);
	@include adaptiv-value('padding-bottom', 100, 50, 1);
}

.title {
	font-weight: $fw-600;
	line-height: 1;
	@include adaptiv-value('font-size', 53, 22, 1);
	@include adaptiv-value('margin-bottom', 60, 35, 1);
}

.swiper-pagination-bullet {
	width: 6px;
	height: 6px;
	background: $white;
	opacity: 0.5;
	transition: border-radius 0.4s ease-out, width 0.4s ease-out,
		opacity 0.4s ease-out;
}

.swiper-pagination-bullet-active {
	width: 24px;
	border-radius: 46px;
	opacity: 1;
}
