/* stylelint-disable */

// * colors
$white: #ffffff;
$black: #000000;

$dark-800: #26262a;

$violet-400: #9b7be0;
$violet-300: #f5f2fd;

$blue-100: #f4f7fc;
$blue-400: #2476e6;
$blue-500: #5c5c64;

$green-400: #08ba43;

$red-400: #ff424b;
$red-500: #ff3768;

$yellow-400: #ffe53b;

// * fonts
$fw-400: 400;
$fw-500: 500;
$fw-700: 700;
$fw-900: 900;

$grotesque: 'Grotesque';
